@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #1c5e27;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    gap: 60px;
    margin-right: 5%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.3rem;
    margin-left: 5%;
    font-weight: 700;
}

.nav-link {
    transition: 0.7 ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-item:last-child button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #608e68;
}

.nav-item:last-child button a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (max-width: 777px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #1c5e27;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }


    .nav-menu.active {
        left: 0;
    }
}