@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.cards {
    display: flex;
    padding: 32px;

}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    box-shadow: 0px 4px 8px rgb(197, 195, 195);
}


main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 100%;
}

.info {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: auto;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 4px 8px rgb(197, 195, 195);
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

@media only screen and (max-width: 764px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 414px) {
    .info {
        font-size: 14px;
    }

}

@media only screen and (max-width: 368px) {
    .info {
        display: none;
    }

    .desc {
        font-size: 12.5px;
    }
}