body {
    background-color: #fff;
}

.home {
    background-color: #fff;
}

.cards {
    background-color: #fff;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    font-family: sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cards * {
    background-color: #fff;
    box-sizing: border-box;
}

.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 16px;
    box-shadow: 0px 4px 8px rgb(133, 130, 130);
}


.cards section.card .icon {
    width: 90px;
    height: 90px;
}


.cards section.card img {
    width: 100%;
    border-radius: 64px;
}

.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.cards section.card p {
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    font-size: 0.8rem;
    text-align: left;
}

.info {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: auto;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 4px 8px rgb(197, 195, 195);
    background-color: #fff;
}

@media only screen and (max-width: 764px) {
    .cards {
        flex-direction: column;
    }

    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    .cards section.card:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 414px) {
    .info {
        font-size: 14px;
    }

}

@media only screen and (max-width: 368px) {
    .info {
        display: none;
    }

    .desc {
        font-size: 12.5px;
    }
}