.card1 {
    width: 92vw;
    margin-top: 50px;
}

article>p,
article>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}

article>h1 {
    margin-bottom: 12px;
}

article>p {
    padding-bottom: 12px;
}